<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.eni.lokacar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loca_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/loca_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:label="@string/title_activity_listes_vehicules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AddVehiculeActivity"
            android:parentActivityName=".ui.menu.MenuActivity" />
        <activity
            android:name=".ui.menu.freerent.MenuActivity"
            android:label="@string/title_activity_menu2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.menu.freerent.free.InfoFreeActivity"
            android:label="@string/title_activity_info_free2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.menu.freerent.rent.InfoRentActivity"
            android:label="@string/title_activity_info_rent2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.AssociateClientActivity" />
    </application>

</manifest>